
	<div th:fragment="siteFooter">
		<footer class="site-footer">
			<div class="site-footer__inner">
				<section class="site-footer__sec">
					<h4>회사 정보</h4>
					<p>OwnWeddingWallet(주) | 대표: 박지은</p>
					<p>사업자등록번호: 123-45-67890</p>
					<p>통신판매업신고: 제2025-가상시-0001호</p>
					<h4>
						<a href="#" class="site-footer__linkHeading">개인 정보 처리 방침</a> | <a
							href="#" class="site-footer__linkHeading">이용 약관</a>
					</h4>
				</section>

				<section class="site-footer__sec">
					<h4>고객센터</h4>
					<p>전화: 02-1234-5678</p>
					<p>이메일: support@oww.co.kr</p>
					<h4>
						<a href="#" class="site-footer__linkHeading">문의하기</a>
					</h4>
				</section>
				
				<section class="site-footer__sec">
					<h4>주소</h4>
					<p>가상시 가상구 예식로 123, 플래너타워 8층</p>
					<p>우편번호: 01234</p>
					<h4>
						<a href="#" class="site-footer__linkHeading">찾아오는 길</a>
					</h4>
				</section>
			</div>

			<div class="site-footer__bottom">&copy; 2025 Wedding Planner Co. All
				rights reserved.</div>
		</footer>
	</div>

